<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CommentDemo</title>
</head>

<body>
  <h1>Welcome to the Comments</h1>
  <p>Here u can update , delete , edit , insert and view different comments.</p>
  <a href="/comments">View all comments</a>
</body>

</html>